body {
  font-size: 18px;
}
body,
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#center {
  width: 18rem;
  position: absolute;
  left: 50%;
  margin-left: -9rem;
}

#container span {
  display: block;
  margin-bottom: .3rem;
}

h1 {
  font-weight: 400;
}

input,
button {
  border: none;
  margin: 0;
  margin-right: .3rem;
}

input {
  font-size: 1rem;
  width: 14rem;
  padding: 0;
  margin-right: .3rem;
  outline: none;
  border-bottom: 2px solid #d5d5d5;
}

input:focus {
  border-color: #696969;
}

button {
  width: 1rem;
  height: 1.4rem;
  padding: 0rem;
  text-align: center;
  vertical-align: middle;
  background-color: #d5d5d5;;
}