body,
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-size: 18px;
  font-weight: 400;
  margin: 4rem;
  line-height: 2rem;
}

#cont {
  width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  letter-spacing: 1px;
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

input {
  outline: none;
  border: 3px solid #ccc;
  height: 2.3rem;
  font-size: 1rem;
}

input#add {
  margin: 0 .2rem 0 0;
}

::-webkit-input-placeholder {
  letter-spacing: 1px;
}

:-moz-placeholder {
  letter-spacing: 1px;
}

::-moz-placeholder {
  letter-spacing: 1px;
}

input#go,
.bump {
  border: 3px solid #69F19A;
  color: #69F19A;
  cursor: pointer;
}

input#go {
  background-color: #fff;
  text-align: center;
  padding: .2rem .6rem;
}

#err {
  color: #ff1D1D;
  margin-top: .5rem;
}

#err.disabled {
  display: none;
}

ul {
  list-style-type:none;
  margin: 1rem 0 0 0; 
  padding: 0;
}

ul > li {
  padding-bottom: .6rem;
}

ul > li:first-child {
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.disabled {
  opacity: .5;
}

li > div {
  display: inline-block;
  width: 16rem;
}

.info {
  text-align: justify;
}

.info > div {
  display: inline-block;
}

.scor {
  width: 4rem;
}

.bump {
  display: inline-block;
  height: 2rem;
  max-width: 4rem;
  text-align: center;
}