@font-face {
  font-family: "scp";
  src: url("//media.urbit.org/fonts/scp-regular.woff");
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: scp, monospace;
}

body {
  font-family: sans-serif;
}

button {
  border: 3px solid #000;
  padding: 10px;
  font-size: 18px;
  background-color: #fff;
  font-weight: 500;
  display: block;
  margin-top: 12px;
}
