body,
html,
button,
input,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.to { 
  font-family: monospace;
}

#container {
  position: absolute;
  left: 50%;
  margin-left: -9rem;
}

#container,
input,
textarea {
  width: 18rem;
}

button,
input,
textarea {
  border: 0;
  outline: none;
  background-color: #f9f9f9;
  padding: .3rem;
  margin-bottom: 1rem;
}

button:focus,
input:focus,
textarea:focus {
  background-color: #ccc;
}

button {
  border: 2px solid #555;
  background-color: #fff;
  font-weight: 500;
}

textarea {
  resize: none;
}

.Message {
  border-top: 2px solid #555;
  padding-top: 1rem;
  margin-bottom: 1rem;
}