body,
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

#container {
  position: absolute;
  width: 5rem;
  left: 50%;
  margin-left: -2.5rem;
}
.button {
    width: 90px;
    height: 40px;
  }

.box {
  display: inline;
}
