@font-face {
  font-family: "scp";
  src: url("//media.urbit.org/fonts/scp-regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "bau";
  src: url("//media.urbit.org/fonts/bau.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "bau";
  src: url("//media.urbit.org/fonts/bau-medium.woff");
  font-weight: 500;
  font-style: normal;
}

h1#title {
  font-family: scp, monospace;
}

body {
  font-family: bau, sans-serif;
}

h1 {
  font-family: bau, sans-serif;
  font-weight: 500;
}

code {
  font-family: scp, monospace;
}
