body,
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

#container {
  position: absolute;
  width: 32rem;
  left: 50%;
  margin-left: -16rem;
}

input {
  outline: none;
  font-size: 1rem;
  border: 0;
  padding: .3rem;
}

input,
button {
  font-family: inherit;
}

input.black {
  background-color: #000;
  color: #fff;
}

input.yellow { 
  background-color: rgb(249, 255, 0);
  color: #000;
}

button {
  background-color: transparent;
  font-size: .8rem;
  border: 3px solid #000;
  margin-left: -.3rem;
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
}

#afix div,
input,
ul.fixturesList li > div {
  margin-right: 2rem;
}

#afix div,
ul.standings li:first-child div{
font-weight: 600;
}

ul, 
li {
  list-style-type: none;
}

ul {
  padding: 0;
}

#afix div,
ul li > div {
  display: inline-block;
}

.contestant {
  width: 6rem;
}

.score {
  width: 4rem;
}

.standings {
  display: block;
  border-top: 3px solid #000;
  padding-top: 1 rem;
}


.standElem {
  width: 6rem;
}


